doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', href='css/estilo-registro.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', type='image/png', href='images/favicon.ico')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-social.css')
    script(src='js/jquery-3.3.1.min.js')
    title Formularios
    style.
      #mensajeErrorCampos{
      color:red;
      font-size:110% !important;
      }
  body
    .w3top-nav-right
      ul
        li
          a(href='index.html') Inicio
        li
          a(href='login.html') Iniciar Sesión
        li
          a(href='contact.html') Contactenos
    .contenedor-formulario
      .wrap
        form.formulario(action='', name='formulario_registro', method='get')
          div
            #mensajeErrorCampos
            .input-group
              input#nombre(type='text', name='nombre')
              label.label(for='nombre') Nombre:
            .input-group
              input#apellido(type='text', name='apellido')
              label.label(for='apellido') Apellido:
            .input-group
              input#correo(type='email', name='correo')
              label.label(for='correo') Correo
            .input-group
              input#pass(type='password', name='pass')
              label.label(for='pass') Contraseña:
            .input-group
              input#Confirmpass(type='password', name='pass')
              label.label(for='Confirmpass') Confirmar contraseña:
            .form-group
              label(for='selectPlan', style='color:black') Elija el plan que desee
              select#selectPlan.form-control(name='selectPlan')
                option Gratis
                option Normal
                option Avanzado
            .input-group.checkbox
              input#terminos(type='checkbox', name='terminos', value='true')
            #mensajeExito(style='color:green; font-weight: bold')
            input#botonEnviar.btn.btn-primary.btn-block(type='button', value='Enviar')
            br
            br
            p(align='center', style='color:black; font-weight: bold; margin-top: 20px') O ingrese con sus redes sociales
            br
            .form-group(align='center')
              a.btn-floating.btn-lg.btn-fb(style='background-color: rgb(11, 36, 179)', type='button', role='button')
                i.fab.fa-facebook-f
              // Twitter
              a.btn-floating.btn-lg.btn-tw(style='background-color: rgb(107, 205, 235)', type='button', role='button')
                i.fab.fa-twitter
              // Instagram
              a.btn-floating.btn-lg.btn-ins(style='background-color: rgb(190, 67, 45)', type='button', role='button')
                i.fab.fa-instagram
              // Github
              a.btn-floating.btn-lg.btn-git(style='background-color: rgb(33, 31, 73)', type='button', role='button')
                i.fab.fa-github
    script(type='text/javascript').
      $( "#botonEnviar" ).click(function() {
      var parametros = `nombre=${$("#nombre").val()}
      &apellido=${$("#apellido").val()}
      &correo=${$("#correo").val()}
      &pass=${$("#pass").val()}
      &plan=${$("#select-plan").val}
      `;
      console.log(parametros);
      $.ajax({
      url:"/guardar-usuario",
      method:"POST",
      data: parametros,
      dataType:"json", //json
      success: function(respuesta){ //200 OK
      console.log(respuesta);
      },
      error:function(error){
      console.log(error);
      }
      });
      });
    script(src='js/formulario.js')
    script(src='js/controlador.js')
    script(src='js/bootstrap.min.js')
